html{
    background-color: rgb(0, 0, 0);
    min-height: 100%;
    max-height: 100%;
    margin-top: 0% auto;
    padding-top: 0% auto;
}
#BARRA{
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.menu-horizontal >li >a{
    padding: -10px;
    color: rgb(255, 115, 0);
    text-decoration: none;
}
.menu-horizontal >li:hover{
    background-color: rgb(0, 200, 255);
    
}
.SEXO{
    font-size: 80px;
    text-shadow: 10px;
}
.Texto{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 115, 0);    
    width:30%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 200px;
}
.menu-vertical{
    display: none;
    position:relative;
    list-style: none;
    width: auto;
    background-color: rgba(0,200,255,);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: black;
}
.menu-vertical li a{
    display: block;
    color: rgb(255, 115, 0);
    text-decoration: none;
}
#cuadrado{
    width: 50px;
    height: 50px;
    background: #000000;
    animation-name: mianimacion;
    animation-duration: 5s;
    position: relative; left: 5%; top: 50px;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes mianimacion {
    0%{background:#000000;}
    50%{background:rgb(0, 200, 255);}
    100%{background: rgb(255, 115, 0);}
}
#cuadrado1{
    width: 50px;
    height: 50px;
    background: #000000;
    animation-name: mianimacion1;
    animation-duration: 5s;
    position: relative; left: 83pc;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes mianimacion1 {
    0%{background:#000000;}
    50%{background:rgb(0, 200, 255);}
    100%{background: rgb(255, 115, 0);}
}
#cuadrado2{
    width: 30px;
    height: 30px;
    background: #000000;
    animation-name: mianimacion2;
    animation-duration: 5s;
    position: relative; left: 100px; top: 50px;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes mianimacion2 {
    0%{background:#000000;}
    50%{background:rgb(0, 200, 255);}
    100%{background: rgb(255, 115, 0);}
}
#cuadrado3{
    width: 30px;
    height: 30px;
    background: #000000;
    animation-name: mianimacion3;
    animation-duration: 5s;
    position: relative; left: 71pc;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes mianimacion3 {
    0%{background:#000000;}
    50%{background:rgb(0, 200, 255);}
    100%{background: rgb(255, 115, 0);}
}
.pp{
    height: 30px;
    background: #000000;
    animation-name: tt;
    animation-duration: 5s;
    position: relative;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    padding-left: 100% ;
}
@keyframes tt {
    0%{background:#000000;}
    50%{background:rgb(0, 200, 255);}
    100%{background: rgb(255, 115, 0);}
}
